<div class="row">
  <div class="span2">
    <%= f.label :irrigation_well_name, "Well Name" %>
    <%= f.text_field :name, class: 'input-small', placeholder: 'ex: Pump 1' %>

  </div>
  <div class="span2">  
    <%= f.label :irrigation_well_pod_code, "POD Code" %>
    <%= f.text_field :pod_code, placeholder: 'ex: LRG-140085-POD1' %>
  </div>
</div>