<% provide :title, 'Farms' %>

<h1>Farms</h1>

<% @farms.each do |farm| %>
  <div class="article">
    <h3><%= link_to farm.name, farm %></h3>
  </div>
<% end %>

<%= link_to 'New Farm', new_farm_path if @farms.empty? %>