<h1>Help</h1>
<p>  
  Get help on the iFarm application at the
  <a href="http://iFarm.heroku.com/help">iFarm help page</a>
  Assistance in writing this application was provided by the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

