<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>  
  Get help on the iFarmPro application at the
  <%= link_to 'iFarmPro help page', help_path %>.
  Assistance in writing this application was provided by the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

