<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>  
  Get help on the iFarmPro application at the
  <a href="http://iFarmPro.heroku.com/help">iFarmPro help page</a>
  Assistance in writing this application was provided by the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

