<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><%#= current_user.company.name %></li>
    <li class="active"><a href="#">Fields</a></li>
    <li><a href="#">Irrigations</a></li>
    <li class="nav-header">Reports</li>
    <li><a href="#">Irrigation</a></li>
 </ul>
</div><!--/.well -->